@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  position: relative; }

.fa {
  cursor: pointer; }

@font-face {
  font-family: montserrat;
  src: local("montserrat"), url(../fonts/montserrat/Montserrat-Medium.otf); }

@font-face {
  font-family: open-sans;
  src: local("open-sans"), url(../fonts/open-sans/OpenSans-Regular.ttf); }

body {
  font-family: open-sans; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*MontserratAlternates-Medium.otf*/
body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover, a:focus {
  text-decoration: none; }

.header {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.top-nav {
  width: 1170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.bloc-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.logo-text {
  padding-left: 22px;
  text-transform: uppercase;
  font-family: montserrat;
  color: #0c2b33; }

.icon {
  width: 14px;
  height: 14px;
  color: #a2b3bb;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }

.icon:hover {
  color: aqua; }

.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.phone {
  color: #0c2b33; }

.site li {
  display: inline;
  padding: 0 10px; }

.site a {
  text-decoration: none; }

.wrap-nav {
  width: 100%;
  background: #afcdd9; }

.nav-1 {
  max-width: 1170px;
  background: #afcdd9;
  height: 74px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.menu-1 {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-1 li {
  display: inline;
  margin: 0 10px;
  position: relative; }

.menu-1 li a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #0c2b33;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    color: rgba(22, 156, 196, 0.44); }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    color: rgba(22, 156, 196, 0.56); }
  75% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #169cc4; } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
    color: rgba(22, 156, 196, 0.44); }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg); }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    color: rgba(22, 156, 196, 0.56); }
  75% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #169cc4; } }

.menu-1 li:hover .menu-2 {
  display: block; }

.menu-1 li:hover .fa {
  -webkit-animation-name: rotate;
          animation-name: rotate;
  /*  animation-duration: 1s;*/
  -webkit-animation: rotate .4s forwards;
          animation: rotate .4s forwards; }

.menu-2 {
  display: none;
  position: absolute;
  top: 90%; }

.menu-2 li {
  margin: 0;
  display: block;
  padding: 8px 10px;
  background: #dadada; }

.menu-2 li:hover {
  background: #a2b3bb; }

.menu-1 li .fa {
  margin-left: 10px; }

.menu-1 li:hover > a {
  color: #169cc4; }

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .search .fa {
    height: 100%; }
  .search .my-search {
    cursor: pointer; }

.search .fa {
  color: #9cb2bc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.drop-search {
  display: none;
  width: 269px;
  height: 56px;
  position: absolute;
  top: 74px;
  left: -220px; }
  .drop-search::after {
    content: '';
    position: absolute;
    /* Абсолютное позиционирование */
    border: 10px solid transparent;
    top: -20px;
    right: 40px;
    border-right: 10px solid #23323a;
    border-bottom: 10px solid #23323a;
    /* Добавляем треугольник */ }

.input-search {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.my-fa-search {
  background: #23323a;
  width: 58px;
  height: 100%;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.slider-bloc {
  height: 485px;
  background: #0d688d; }

.next-icon {
  background: #169cc4;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(22, 156, 196, 0.6)), to(#169cc4));
  background: -webkit-linear-gradient(bottom, rgba(22, 156, 196, 0.6), #169cc4);
  background: -o-linear-gradient(bottom, rgba(22, 156, 196, 0.6), #169cc4);
  background: linear-gradient(to top, rgba(22, 156, 196, 0.6), #169cc4); }

.pic {
  width: 74px;
  height: 74px;
  background: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto; }

.dop-text {
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 5px 0;
  font-family: open-sans; }

.text-size {
  font-size: 14px;
  margin-bottom: 58px; }

/*add*/
p {
  margin: 0; }

.line {
  color: red;
  height: 50px;
  line-height: 50px;
  background: burlywood; }

.vertical {
  height: 80px;
  background: #779f28; }

.center {
  line-height: 80px; }

ul {
  padding: 4px; }

.img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #406373;
  opacity: .8; }

.slider {
  width: 100%;
  height: 100%; }

.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

.item.active {
  z-index: 2;
  opacity: 1; }

.block-img {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }

.slider-img {
  width: 100%;
  height: 100%;
  -o-fit-object: cover;
  fit-object: cover; }

.little {
  width: 50px;
  height: 50px; }

.button, .next, .previous {
  width: 50px;
  height: 50px;
  border: 2px solid #808080;
  color: black;
  font-size: 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: -webkit-calc(50% + 50px);
  top: calc(50% + 50px);
  z-index: 30; }

.previous {
  left: 0; }

.pause {
  display: none; }

.recetn-prodject {
  height: 165px;
  background: #23323a;
  text-align: center; }
  .recetn-prodject h2 {
    color: white;
    font-size: 30px;
    padding: 45px 0 20px 0; }
  .recetn-prodject p {
    color: white; }

.project-title {
  height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .project-title__item {
    height: 100%;
    width: 390px;
    position: relative;
    background: #2a3b45;
    border-left: 1px solid #30424d;
    border-right: 1px solid #30424d; }
  .project-title__my-search {
    cursor: pointer; }
  .project-title__img {
    height: 200px;
    width: 100%; }
  .project-title__item .fa {
    color: white;
    font-size: 30px; }
  .project-title__icon {
    width: 130px;
    height: 55px;
    position: absolute;
    display: none;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    top: 25%;
    left: 30%; }
  .project-title__item:hover .project-title__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .project-title__icon--item {
    width: 60px;
    height: 60px;
    background: rgba(139, 145, 148, 0.51);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .project-title__footer {
    background: #2a3b45;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .project-title__footer::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 20px solid #2a3b45;
    top: 162px;
    left: 20px; }
  .project-title__description {
    margin-left: 40px; }
  .project-title__description-one {
    color: white;
    font-size: 18px; }
  .project-title__description-two {
    font-size: 14px;
    color: #c8c8c8; }
  .project-title__like {
    margin-right: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .project-title__like:hover .fa-heart-o {
    color: #eb7066; }
  .project-title__count {
    color: white;
    margin-left: 10px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }

/*my pop up*/
.substrate {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 40; }

.content-pop-up {
  position: fixed;
  width: 500px;
  height: 500px;
  top: -webkit-calc(50vh - 250px);
  top: calc(50vh - 250px);
  left: -webkit-calc(50vw - 250px);
  left: calc(50vw - 250px);
  background: white;
  -webkit-border-radius: 20px;
          border-radius: 20px; }
  .content-pop-up__header {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #9cb2bc; }
  .content-pop-up__img {
    width: 100%; }
  .content-pop-up__close {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 25px;
    height: 25px;
    color: #0c2b33;
    line-height: 25px;
    text-align: center;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: #dadada;
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out; }
  .content-pop-up__close:hover {
    background: #808080;
    color: white; }
  .content-pop-up__body {
    height: -webkit-calc(100% - 90px);
    height: calc(100% - 90px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .content-pop-up__footer {
    height: 50px;
    border-top: 1px solid #9cb2bc;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .content-pop-up__exit {
    margin-right: 20px;
    font: bold 16px open-sans;
    text-transform: uppercase;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background: #6dc0ff;
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out;
    cursor: pointer; }
  .content-pop-up__exit:hover {
    color: white;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(22, 156, 196, 0.6)), to(#169cc4));
    background: -webkit-linear-gradient(bottom, rgba(22, 156, 196, 0.6), #169cc4);
    background: -o-linear-gradient(bottom, rgba(22, 156, 196, 0.6), #169cc4);
    background: linear-gradient(to top, rgba(22, 156, 196, 0.6), #169cc4); }

/*slider*/
.carousel {
  width: 98vw;
  height: 600px;
  overflow: hidden;
  position: relative; }
  .carousel__container {
    padding: 0;
    font-size: 0;
    width: 20000px; }
  .carousel__element {
    display: inline-block; }
  .carousel__img-item {
    width: 98vw;
    height: 600px; }
