html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
  position: relative;
}
.fa{
  cursor: pointer;
}
@font-face {
  font-family: montserrat;
  src: local("montserrat"),
  url(../fonts/montserrat/Montserrat-Medium.otf);
}@font-face {
  font-family: open-sans;
  src: local("open-sans"),
  url(../fonts/open-sans/OpenSans-Regular.ttf);
}
body{
  font-family: open-sans;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
/*MontserratAlternates-Medium.otf*/
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover, a:focus{
  text-decoration: none;
}

.header{
  height: 80px;
  display: flex;
}
.top-nav{
  width: 1170px;
  display: flex;

  margin: 0 auto;
  justify-content: space-between;
}
.bloc-logo{
  display: flex;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-text{
  padding-left: 22px;
  text-transform: uppercase;
  font-family: montserrat;
  color: #0c2b33;
}
.icon{
  width: 14px;
  height: 14px;
  color: #a2b3bb;
  transition: .3s ease;
}
.icon:hover{
  color: aqua;
}
.site{
  display: flex;
  align-items: center;
}
.phone{
  color: #0c2b33;
}
.site li{
  display: inline;
  padding: 0 10px;
}
.site a{
  text-decoration: none;
}
.wrap-nav{
  width: 100%;
  background: #afcdd9;
}
.nav-1{
  max-width: 1170px;
  background: #afcdd9;
  height: 74px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.menu-1{
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-1 li{
  display: inline;
  margin: 0 10px;
  position: relative;

}
.menu-1 li a{
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #0c2b33;
  transition: .4s ease;
}
@keyframes rotate {
  0%   {transform: rotate(15deg);
        color: rgba(22, 156, 196, 0.44);
  }
  25%  {transform: rotate(30deg);}
  50%  {transform: rotate(45deg);
    color: rgba(22, 156, 196, 0.56);}
  75%  {transform: rotate(60deg);}
  100% {transform: rotate(90deg);
    color: #169cc4;}
}
.menu-1 li:hover .menu-2{
  display: block;
}
.menu-1 li:hover .fa{
  animation-name: rotate;
/*  animation-duration: 1s;*/
  animation: rotate .4s forwards;
}

.menu-2{
  display: none;
  position: absolute;
  top: 90%;
}
.menu-2 li{
  margin: 0;
  display: block;
  padding: 8px 10px;
  background: #dadada;

}
.menu-2 li:hover{
  background: #a2b3bb;
}
.menu-1 li .fa{
  margin-left: 10px;
}
.menu-1 li:hover > a {
  color: #169cc4;

}
.search{
  display: flex;
  align-items: center;
  position: relative;
  & .fa{
    height: 100%;

  }

  & .my-search {
    cursor: pointer;
  }
}

.search .fa{
  color: #9cb2bc;
  display: flex;
  align-items: center;
}
.drop-search{
  display: none;
  width: 269px;
  height: 56px;
  position: absolute;

  top: 74px;
  left: -220px;
  &::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    border: 10px solid transparent;
    top: -20px;
    right: 40px;
    border-right: 10px solid #23323a;
    border-bottom: 10px solid #23323a;/* Добавляем треугольник */
  }
}

.input-search{
  height: 100%;
  box-sizing: border-box;
}
.my-fa-search{
  background: #23323a;
  width: 58px;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slider-bloc{
  height: 485px;
  background: #0d688d;
}
.next-icon{
  background: #169cc4;
  background: linear-gradient(to top, rgba(22, 156, 196, 0.6), #169cc4);
}
.pic{
  width: 74px;
  height: 74px;

  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.dop-text{
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 5px 0;
  font-family: open-sans;
}

.text-size{
  font-size: 14px;
  margin-bottom: 58px ;
}





/*add*/
p{
  margin: 0;
}
.line{
  color: red;
  height: 50px;
  line-height: 50px;
  background: burlywood;
}

.vertical{
  height: 80px;
  background: #779f28;
}
.center{
  line-height: 80px;
}
ul{
  padding: 4px;
}




.img::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #406373;
  opacity: .8;
}
.slider{
  width: 100%;
  height: 100%;
}
.item{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.item.active {
  z-index: 2;
  opacity: 1;
}

.block-img{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-img{
  width: 100%;
  height: 100%;
  -o-fit-object: cover;
  fit-object: cover;
}
.little{
  width: 50px;
  height: 50px;
}
.button{
  width: 50px;
  height:50px;
  border: 2px solid #808080;
  color: black;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: calc(50% + 50px );
  z-index: 30;
}
.next{
@extend .button;
}
.previous{
  @extend .button;
  left: 0;
}
.pause{
  display: none;
}
.recetn-prodject{
  height:165px;
  background: #23323a;
  text-align: center;
  & h2 {
    color: white;
    font-size: 30px;
    padding: 45px 0 20px 0;
  }
  & p {
    color: white;
  }
}
.project-title{
  height: 300px;
  display: flex;

  &__item{
    height: 100%;
    width: 390px;
    position: relative;
    background: #2a3b45;
    border-left: 1px solid #30424d;
    border-right: 1px solid #30424d;
  }
  &__my-search{
    cursor: pointer;
  }
  &__img{
    height: 200px;
    width: 100%;
  }
  &__item .fa{
    color: white;
    font-size: 30px;
  }
  &__icon{

    width: 130px;
    height: 55px;
    position: absolute;
    display: none;
    justify-content: space-around;
    top: 25%;
    left: 30%;

  }
  &__item:hover &__icon{
    display: flex;
  }
  &__icon--item{
    width: 60px;
    height: 60px;
    background: rgba(139, 145, 148, 0.51);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer{
    background: #2a3b45;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__footer::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 20px solid #2a3b45;
    top: 162px;
    left: 20px;
  }
  &__description{
    margin-left: 40px;
  }
  &__description-one{
    color: white;
    font-size: 18px;
  }
  &__description-two{
    font-size: 14px;
    color: #c8c8c8;

  }
  &__like{
    margin-right: 40px;
    display: flex;
  }
  &__like:hover .fa-heart-o{
    color: #eb7066;
  }
  &__count{
    color: white;
    margin-left: 10px;
    align-self: center;
  }
}

/*my pop up*/
.substrate{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 40;
}
.content-pop-up{
  position: fixed;
  width: 500px;
  height: 500px;
  top: calc(50vh - 250px);
  left: calc(50vw - 250px);
  background: white;
  border-radius: 20px;
  &__header{
    position: relative;
    height: 40px;
    border-bottom: 1px solid #9cb2bc;
  }
  &__img{
    width: 100%;
  }
  &__close{
    position: absolute;
    top: 20%;
    right: 2%;
    width: 25px;
    height: 25px;
    color: #0c2b33;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background: #dadada;
    transition: .4s ease-out;
  }
  &__close:hover{
    background: #808080;
    color: white;
  }
  &__body{
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
  }
  &__footer{
    height: 50px;
    border-top: 1px solid #9cb2bc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__exit{
    margin-right: 20px;

    font: bold 16px open-sans;
    text-transform: uppercase;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    background: #6dc0ff;
    transition: .4s ease-out;
  ;
    cursor: pointer;
  }
  &__exit:hover{
    color: white;
    background: linear-gradient(to top, rgba(22, 156, 196, 0.6), #169cc4);;
  }
}

/*slider*/

.carousel{
  width: 98vw;
  height: 600px;
  overflow: hidden;
  position: relative;
  &__container{
    padding: 0;
    font-size : 0;
    width: 20000px;
  }
  &__element{
    display: inline-block;
  }
  &__img-item{
    width: 98vw;
    height: 600px;
  }
}
